body {
  background-color: rgb(4, 3, 22);
  color: white;
  text-align: center;
}

.container {
  margin: 50px;
}

.btn{
    background-color: white;
    border-radius: 5px;
    color:black;
    padding: 12px;
    cursor: pointer;
    margin: 10px;
}