<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Encryption</title>
</head>
<link rel="stylesheet" href="../static/css/main.css">
<body>
    <div class="lds-ripple" style="display: none; margin: auto; position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
"><div></div><div></div></div>
<div class="load lds-ripple" style="display: none; text-align: center; position: fixed;
top: 65%;
left: 50%;
transform: translate(-50%, -50%);">
    Please Wait! Loading...
</div>
    <div class="container">
        <div class="header">
            <h1>Image Decryption</h1>
        </div>
        <br>
         <form action="/encrypt" method="GET" enctype="multipart/form-data">
        <br>
        <br>
        <img id="uploadedImage" src="{{img_path}}" alt="Uploaded Image" style="max-width: 300px; margin: auto;">
        <br>
        <label for="text">Enter password key</label>
        <br>
        <br>
         </form>
         <form action="/decrypt" method="POST" enctype="multipart/form-data" id="form_data">
                <input type="text" name="text" id="textInput" name="textInput" style="padding: 5px;">
                <br>
                <br>
                <div class="btns">
                    <button type="submit" class="btn" onclick="loading()">
                    Let's Decrypt!
                    </button>
                    <h6 style="color: red;">{{message}}</h6>
                  </div>
            </div>
        </form>

      <script>

        function loading() {
            var loader = document.querySelector('.lds-ripple');
            var load = document.querySelector('.load');
            var container = document.querySelector('.container');
            loader.style.display = 'block';
            load.style.display = 'block';
            container.style.display = 'none';        
        }
        function password() {
            var text = document.getElementById('textInput').value;
            if (text == '') {
                alert('Please enter a password key to decrypt the image');
            }
        }
    </script>
</body>
</html>
